{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}

{% block page_product_detail_tabs_inner %}
    {% set product_description = page.product.description %}
    {% set product_details = page.product.customFields.custom_product_details %}
    {% set product_origin = page.product.customFields.custom_product_origin %}
    {% set fields = page.product.customFields %}
    <div class="card card-tabs">
        {% block page_product_detail_tabs_navigation %}
        {% endblock %}

        {% block page_product_detail_tabs_content %}
            <div class="product-detail-tabs-content card-body">
                {% if fields.custom_product_menge %}
                    <div class="tab-panel-content">
                        {{ fields.custom_product_menge|raw }}
                    </div>
                {% endif %}

                {% if fields.custom_product_knowledge %}
                    <div class="tab-panel-content">
                        {{ fields.custom_product_knowledge|raw }}
                    </div>
                {% endif %}

                {% if fields.custom_product_zubereitung %}
                    <div class="tab-panel-content">
                        {{ fields.custom_product_zubereitung|raw }}
                    </div>
                {% endif %}

                {% block page_product_detail_tabs_content_container %}
                    {% block page_product_detail_tabs_content_origin %}
                        {% if product_origin %}
                            <div class="tab-panel-content">
                                {{ product_origin|raw }}
                            </div>
                        {% endif %}
                    {% endblock %}

                    {% if fields.custom_product_lieferung %}
                    <div class="tab-panel-content">
                        {{ fields.custom_product_lieferung|raw }}
                    </div>
                    {% endif %}


                    {% block page_product_detail_tabs_content_details %}
                        {% if product_details %}
                            <div class="tab-panel-content">
                                {{ product_details|raw }}
                            </div>
                        {% endif %}
                    {% endblock %}

                        {% block page_product_detail_tabs_content_review %}{% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
